main {
	display  : grid;
	grid-gap : 0 var(--section-spacing);
}
main > header { grid-area : header }
main > nav { grid-area : nav }
main > #summary { grid-area : summary }
main > #tree { grid-area : tree }
main > #members-index { grid-area : index }
main > #removed-member-index { grid-area : rindex }
main > #details { grid-area : details }
main > #examples { grid-area : examples }
main > #history { grid-area : history }
main > #members { grid-area : members }
main > #removed-members { grid-area : rmembers }
main > #references { grid-area : references }

main {
	grid-template-columns : auto;
	grid-template-areas   :
		"header    "
		"summary   "
		"nav       "
		"tree      "
		"index     "
		"rindex    "
		"details   "
		"examples  "
		"history   "
		"members   "
		"rmembers  "
		"references"
	;
}
main > nav > section {
	overflow-y    : auto;
	padding-right : var(--scrollbar-width);
	max-height    : 61.8vh;
	--indent      : var(--indent-half);
}
main > nav .toc-members {
	display : none;
}
@media screen and (min-width: 800px) {
	main {
		grid-template-columns : 1fr auto;
		grid-template-areas   :
			"header     header"
			"summary    nav   "
			"tree       nav   "
			"index      nav   "
			"rindex     nav   "
			"details    nav   "
			"examples   nav   "
			"history    nav   "
			"members    nav   "
			"rmembers   nav   "
			"references nav   "
		;
		justify-content    : start;
		grid-template-rows : repeat(9,auto) 1fr;
	}
	main > nav {
		border-left  : 1px solid var(--border-color);
		padding-left : var(--section-spacing);
	}
	main > nav .toc-members {
		display : block;
	}
	@supports (position:sticky) {
		main > nav > section {
			position      : sticky;
			top           : 0;
			max-height    : calc(100vh - var(--baseline) - var(--header-height));
		}
	}
}
@media screen and (min-width: 1000px) {
	main {
		grid-template-columns : auto 1fr auto;
		grid-template-areas   :
			"header     header     header"
			"tree       summary    nav   "
			"index      index      nav   "
			"rindex     rindex     nav   "
			"details    details    nav   "
			"examples   examples   nav   "
			"history    history    nav   "
			"members    members    nav   "
			"rmembers   rmembers   nav   "
			"references references nav   "
		;
		justify-content    : start;
		grid-template-rows : repeat(8,auto) 1fr;
	}
	main > #tree {
		border-right  : 1px solid var(--border-color);
		padding-right : var(--section-spacing);
	}
}

:target > header {
	background-color : var(--member-target-color);
}

#members > section,
#removed-members > section {
	border-bottom : 1px solid var(--border-color);
}

.metadata-pairs {
	text-align      : left;
	margin          : var(--baseline) 0;
	border-collapse : collapse;
}
.metadata-pairs th {
	font-weight : bold;
}
.metadata-pairs th:after {
	content     : ": ";
	white-space : pre-wrap;
}

.tags {
	text-align : right;
	font-size  : smaller;
}
