.doc pre {
	margin           : 0 1em;
	background-color : var(--table-color);
	border-left      : 2px solid var(--border-color);
	padding          : 1em 1.618em;
	white-space      : pre-wrap;
}

.doc :not(pre) code {
	background-color : var(--table-color);
	padding          : 0 0.5ch;
}
