.doc pre:not(.chroma) {
	background-color : var(--table-color);
	border-left      : 2px solid var(--border-color);
	padding          : 1em 1.618em;
	white-space      : pre-wrap;
}
.doc :not(pre) code {
	background-color : var(--table-color);
	padding          : 0 0.5ch;
}

.doc > div.chroma {
	background-color : var(--table-color);
	border-left      : 2px solid var(--border-color);
}
.doc > div.chroma pre {
	background-color : unset;
	white-space      : pre-wrap;
	-moz-tab-size    : var(--indent);
	-o-tab-size      : var(--indent);
	tab-size         : var(--indent);
}
