.doc pre:not(.chroma) {
	background-color : var(--theme-table);
	border-left      : 2px solid var(--theme-border);
	padding          : 1em 1.618em;
	white-space      : pre-wrap;
}
.doc :not(pre) code {
	background-color : var(--theme-table);
	padding          : 0 0.5ch;
}

.doc > div.chroma {
	background-color : var(--theme-table);
	border-left      : 2px solid var(--theme-border);
}
.doc > div.chroma pre {
	background-color : unset;
	-moz-tab-size    : var(--indent);
	-o-tab-size      : var(--indent);
	tab-size         : var(--indent);
}
.doc > div.chroma .lntd:last-child {
	display  : block;
	overflow : auto;
}
.doc > div.chroma .lntd:last-child pre {
	display      : table;
	table-layout : fixed;
	width        : 100%;
}
