summary {
	cursor : pointer;
}

#status {
	table-layout : fixed;
	text-align   : center;
}
#status tr > :nth-child(1) {
	text-align : right;
}
#status tr > :nth-child(2),
#status tr > :nth-child(3) {
	text-align : left;
}
#status th:nth-child(1) { width : 7ch }
#status th:nth-child(2) { width : 14ch }
#status th:nth-child(3) { width : 66ch }
#status th:nth-child(4) { width : 9ch }
#status th:nth-child(5) { width : 9ch }
#status th:nth-child(6) { width : 10ch }
#status th:nth-child(7) { width : 11ch }
#status tr.p > :nth-child(1),
#status tr.p > :nth-child(2),
#status tr.p > :nth-child(3) {
	background-color : var(--theme-table-header);
	color            : var(--theme-table-header-text);
}

table {
	font-family : var(--monospace);
	color       : var(--theme-table-text);
}
th {
	background-color : var(--theme-table-header);
	color            : var(--theme-table-header-text);
}
td {
	background-color : var(--theme-table);
}

.d {
	background-color : var(--theme-table-header);
	color            : var(--theme-table-header-text);
}
.c {
	background-color : var(--theme-patch-remove);
	color            : var(--theme-patch-remove-text);
}
.b {
	background-color : var(--theme-patch-change);
	color            : var(--theme-patch-change-text);
}
.a {
	background-color : var(--theme-patch-add);
	color            : var(--theme-patch-add-text);
}

.cell {
	padding : 0 0.5ch;
}
