main {
	display    : flex;
	flex-flow  : wrap row;
	column-gap : var(--section-spacing);
}
main > header, #summary {
	flex-basis : 100%;
}
@media screen and (max-width: 600px) {
	main {
		display : block;
	}
}
