#main-header {
	position : relative;
	z-index  : var(--layer-foreground);
}
main {
	margin : 0;
}
#main article ul {
	margin-left  : 0;
	padding-left : var(--indent);
}
#main article:not(#types) ul {
	list-style : none;
}
#main {
	--indent   : calc(var(--icon-scale) + var(--icon-spacing));
	display    : flex;
	flex-flow  : wrap row;
	column-gap : var(--indent);
	margin     : var(--baseline);
	margin-top : 0px;
}

#toc {
	position       : fixed;
	position       : sticky;
	top            : 0;
	right          : 0;
	z-index        : var(--layer-below-foreground);
	pointer-events : none;
	margin         : 0;
}
#toc > ul {
	display         : flex;
	flex-flow       : wrap row;
	justify-content : end;
	list-style-type : none;
	padding         : 0;
	margin          : 0;
}
#toc > ul > li {
	pointer-events : auto;
}
#toc .header-block {
	background-color : var(--table-color);
}
@media screen and (min-width: 1200px) {
	#toc {
		display : none;
	}
}

/* Class sort controls */
.class-list-controls {
	display       : flex;
	margin-top    : var(--baseline);
	margin-bottom : var(--baseline);
}
.class-list-controls input {
	display : none;
}
.class-list-controls label {
	--border-size    : 2px;
	flex-grow        : 1;
	display          : inline-block;
	cursor           : pointer;
	background-color : var(--table-color);
	font-size        : var(--font-size);
	line-height      : var(--line-height);
	padding-top      : calc(var(--baseline)/2);
	padding-bottom   : calc(var(--baseline)/2 - var(--border-size));
	border-bottom    : var(--border-size) solid transparent;
	transition       : border-bottom 100ms linear;
	text-align       : center;
}
.class-list-controls input:checked + label {
	border-bottom-color : var(--border-color);
}

@media screen and (max-width: 600px) {
	#toc {
		display: block;
	}
	#main {
		display: block;
	}
	#main article ul ul {
		padding-left : var(--indent);
	}
	#main article ul {
		padding-left : 0;
	}
}
