/*

Viewport thresholds:

    1200px : Maximum width of content.
    800px  : Maximum width of reduced layout.
    600px  : Maximum width of mobile layout.

*/
/*////////////////////////////////////////////////////////////////*/
/* Variables */
:root {
	/* Vertical rhythm */
	--font-size   : 10pt;
	--line-height : 1.5;
	--baseline    : calc(var(--font-size) * var(--line-height));

	/* Header/Footer layout */
	--header-step   : 3;
	--header-height : calc(var(--header-step) * var(--baseline));
	--header-bottom : var(--baseline);

	/* Heading layout */
	--heading-step   : 4;
	--heading-height : calc(var(--heading-step) * var(--baseline));
	--heading-bottom : var(--baseline);

	/* Icon sizing */
	--icon-size-constant : 16px;
	--icon-size-dynamic  : calc(var(--font-size) * 1.2);
	--icon-scale         : var(--icon-size-constant);
	--icon-spacing       : 0.5ch;

	/* Colors */
	--sky-color           : #1F3F8E;
	--background-color    : #FFFFFF;
	--text-color          : #333333;
	--anchor-color        : #3E6DCC;
	--table-color         : #F4F4F4;
	--border-color        : #CCCCCC;
	--member-target-color : gold;
	--sky-color-dim       : #193272;
	--table-color-dim     : #DCDCDC;

	/* Fonts */
	--sans-serif : "Open Sans", "Trebuchet MS", "DejaVu Sans", "Geneva", sans-serif;
	--monospace  : "Consolas", "DejaVu Sans Mono", monospace;

	/* Horizontal spacing */
	--indent-full      : 4ch;
	--indent-half      : calc(var(--indent-full)/2);
	--indent           : var(--indent-full); /* Dynamic */
	--section-spacing  : 2ch;

	/* Z Layers */
	--layer-content          : auto;
	--layer-below-foreground : 10;
	--layer-foreground       : 20;

	/* Misc. */
	--scrollbar-width : 4ch;
}
@media screen and (max-width: 800px) {
	:root {
		--indent : var(--indent-half);
	}
}

/*////////////////////////////////////////////////////////////////*/
/* Global */
html {
	background-color : var(--sky-color);
	/* Default layout appears to have a problem with overflowing elements, causing
	   mobile layouts to look awful. */
	display          : flex;
}
body {
	flex             : auto;
	font             : var(--font-size)/var(--line-height) var(--sans-serif);
	color            : var(--text-color);
	background-color : var(--background-color);
	margin           : 0 auto;
	padding          : 0;
	max-width        : 1200px;
	box-shadow       : 0 0 8px black;
}
@media screen and (min-width: 1200px) {
	body {
		margin-bottom: var(--baseline);
	}
}
code {
	font-family : var(--monospace);
}
main {
	margin     : var(--baseline);
	margin-top : 0;
}
main > header > h1 {
	width : 100%;
}
a[href] {
	color           : var(--anchor-color);
	text-decoration : none;
}
h1,h2,h3,h4,h5,h6 {
	--heading-font-size : calc(var(--heading-scale,1) * var(--font-size));
	font-size           : var(--heading-font-size);
	line-height         : var(--line-height);
	margin-bottom       : var(--heading-bottom);
	margin-top          : calc(var(--heading-height) - var(--heading-bottom) - var(--heading-font-size)*var(--line-height));
	margin-left         : 0;
	margin-right        : 0;
}
h1 { --heading-scale: calc(12/6) }
h2 { --heading-scale: calc(9/6) }
h3 { --heading-scale: calc(7/6) }
h4 { --heading-scale: calc(6/6) }
h5 { --heading-scale: calc(5/6) }
h6 { --heading-scale: calc(4/6) }
p, ul, ol {
	margin : var(--baseline) 0;
}
ul, ol {
	padding-left: var(--indent);
}
ul ul, ul ol, ol ul, ol ol {
	margin-top    : 0;
	margin-bottom : 0;
}
main > header > * {
	display : inline-block;
}
main > header .history {
	margin-left : var(--icon-spacing);
}
.element-count {
	font-size : 10pt;
}
.truncated-list {
	max-height    : 61.8vh;
	overflow-y    : auto;
	padding-right : var(--scrollbar-width);
}
.element-list {
	--element-list-indent : calc(var(--icon-scale) + var(--icon-spacing));
	--indent              : 0;
	list-style            : none;
}
.element-list ul {
	--indent       : var(--element-list-indent);
	list-style     : none;
}
.params-sep {
	white-space : pre-wrap;
}

/*////////////////////////////////////////////////////////////////*/
/* Header / Footer */
#main-header, #main-footer {
	display     : flex;
	align-items : center;
	flex-flow   : wrap row;
}
/* Header */
#main-header {
	/* Header colors */
	background-color : var(--table-color);
}
#main-header .header-block {
	/* Header colors */
	--block-color     : var(--table-color);
	--block-color-dim : var(--table-color-dim);
}
#main-header h1 {
	font-size     : var(--heading-font-size);
	margin        : 0;
	padding-left  : var(--baseline);
	padding-right : var(--baseline);
}
#main-header h1      { order: 0 }
#main-header nav     { order: 1 }
#main-header #search { order: 2 }
/* Footer */
#main-footer {
	/* Place content on the right */
	justify-content : right;
}
#main-footer {
	/* Footer colors */
	background-color : var(--sky-color);
	color            : var(--background-color);
}
#main-footer .header-block {
	--block-color     : var(--sky-color);
	--block-color-dim : var(--sky-color-dim);
	color             : var(--background-color);
}
/* Main navigation */
.main-nav {
	/* Grow so that nav appears on left; shrink so that nav items wrap. */
	flex : 1 1 auto;
}
.main-nav ul {
	display         : flex;
	flex-flow       : wrap row;
	list-style-type : none;
	margin          : 0;
	padding         : 0;
}
#search-input {
	background-color : var(--background-color);
	color            : var(--text-color);
	border           : 1px solid var(--border-color);
}
/* Top navigation */
#top-nav {
	position       : sticky;
	bottom         : 0;
	z-index        : var(--layer-below-foreground);
	text-align     : right;
	pointer-events : none;
	margin         : 0 var(--baseline);
}
#top-nav .header-block {
	--block-color     : var(--table-color);
	--block-color-dim : var(--table-color-dim);
	border            : 1px solid var(--border-color);
	pointer-events    : auto;
}
/* Header block: has particular sizing. */
.header-block {
	display            : inline-block;
	font-size          : var(--font-size);
	line-height        : var(--line-height);
	transition         : background-color 100ms linear;
	--current-baseline : calc(1em * var(--line-height));
	padding            : calc((var(--header-height) - var(--current-baseline) - var(--baseline)*var(--height-factor,0) )/2) var(--current-baseline);
	background-color   : var(--block-color);
}
a.header-block:hover {
	/* Links have a hover effect */
	background-color : var(--block-color-dim);
	transition       : background-color 100ms linear;
}
@media screen and (max-width: 800px) {
	.header-block {
		--height-factor: 1;
	}
}
@media screen and (max-width: 600px) {
	#no-search {
		display: none;
	}
}

/*////////////////////////////////////////////////////////////////*/
/* Status decorations */
.api-deprecated {
	text-decoration : line-through rgb(0, 0, 0, 0.5);
}
.api-hidden > *, .api-not-browsable {
	/* TODO: Figure out how to exclude border-top from this.*/
	opacity : 0.5;
}
.api-no-default,
.api-empty-string {
	font-style : italic;
	opacity    : 0.5;
}
.api-empty-string::before {
	content : "(empty)";
}
.history-add::before    { content: "+" }
.history-change::before { content: "Δ" }
.history-remove::before { content: "−" }
.history-add, .history-change, .history-remove {
	color         : black !important;
	padding       : 0 0.5ch;
	border-radius : 2px;
}
.history-add    { background-color: #7EBA72 }
.history-change { background-color: #DFCE88 }
.history-remove { background-color: #D8848C }

/*////////////////////////////////////////////////////////////////*/
/* Wrapping */
.element-link {
	white-space : nowrap;
}
@media screen and (max-width: 600px) {
	.parameter {
		flex-basis   : 100%;
		padding-left : var(--indent-half);
	}
}
@supports (hyphens:auto) {
	.truncated-list .element-link {
		white-space : normal;
		hyphens     : auto;
	}
}
@supports not (hyphens:auto) {
	.truncated-list .element-link {
		white-space : normal;
		word-break  : break-all;
	}
}

/*////////////////////////////////////////////////////////////////*/
/* Icons */
li .element-link {
	--icon-offset : calc(var(--icon-scale) + var(--icon-spacing));
	position      : relative;
	left          : var(--icon-offset);
	margin-right  : var(--icon-offset);
}
li .element-link .icon {
	position       : absolute;
	top            : calc(50% - var(--icon-scale)/2);
	left           : calc(-1 * var(--icon-offset));
	pointer-events : none;
}
.icon {
	display             : inline-block;
	vertical-align      : middle;
	height              : var(--icon-scale);
	width               : var(--icon-scale);
	background-size     : auto var(--icon-scale);
	background-repeat   : repeat-x;
	background-position : calc(-1 * var(--icon-index,0) * var(--icon-scale,0));
}
.class-icon {
	background-image : url('/ref/res/icon-explorer.png');
}
.member-icon,
.enum-icon,
.enum-item-icon {
	background-image : url('/ref/res/icon-objectbrowser.png');
}
.enum-icon      { --icon-index :  9 }
.enum-item-icon { --icon-index : 10 }

header .icon,
.element-link .icon {
	margin-right : var(--icon-spacing);
}
.devhub-icon {
	background-image : url('/ref/res/icon-devhub.png');
	margin : 0 var(--icon-spacing);
}

/*////////////////////////////////////////////////////////////////*/
/* Spinner */
@keyframes loading-spinner {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}
.loading-spinner {
	animation         : loading-spinner 600ms infinite linear;
	transform         : rotate(0deg);
	border-radius     : 50%;
	border            : 2px solid var(--text-color);
	border-left-color : transparent;
	width             : 14px;
	height            : 14px;
	margin            : 1ex;
	display           : inline-block;
	vertical-align    : middle;
}

/*////////////////////////////////////////////////////////////////*/
/* Index card */
.index-card {
	--card-margin    : 1ch;
	--card-padding   : 1ch;
	--cell-spacing   : 0.75ch;
	font-family      : var(--monospace);
	border-collapse  : separate;
	border-spacing   : 0;
	background-color : var(--table-color);
	border           : 1px solid var(--border-color);
	margin           : var(--card-margin);
	padding          : var(--card-padding);
	border-radius    : var(--card-padding);
}
.index-card td,
.index-card th {
	padding: 0.25em 0;
}
.index-card tr:not(:first-of-type) > td {
	border-top: 1px solid var(--border-color);
}
.index-card th {
	background-color: var(--border-color);
}
.index-card td:first-child,
.index-card th:first-child {
	padding-left: var(--cell-spacing);
}
.index-card td,
.index-card th {
	padding-right: var(--cell-spacing);
}
.index-card :target {
	background-color : var(--member-target-color);
}
.index-card td {
	vertical-align : top;
}
.index-card td, .index-card th {
	text-align : left;
}
.index-card .col-value,
.index-card .col-type,
.index-card .col-icon {
	text-align : right;
}
.param-index-card .col-type {
	text-align : left;
}
.param-index-card {
	width : calc(100% - var(--card-margin)*2);
}
.index-card .member-text {
	display   : flex;
	flex-flow : wrap row;
}
@media screen and (max-width: 600px) {
	.member-index-card .col-type,
	.member-index-card .col-history,
	.member-index-card .params-open,
	.member-index-card .params-sep,
	.member-index-card .params-close,
	.member-index-card .parameter {
	/*.member-index-card thead:first-of-type > **/
		display : none;
	}
	@supports (hyphens:auto) {
		.index-card td:not(.col-history) {
			hyphens : auto;
		}
	}
	@supports not (hyphens:auto) {
		.index-card td:not(.col-history) {
			word-break : break-all;
		}
	}

	.index-card {
		table-layout : fixed;
		width        : calc(100% - var(--card-padding) - var(--card-margin));
	}
	.index-card .col-icon { width : calc(var(--icon-scale) + var(--cell-spacing)) }

	.member-index-card .col-type    { width : 0 }
	.member-index-card .col-member  { width : 100% }
	.member-index-card .col-history { width : 0 }

	.enumitem-index-card .col-member  { width : 100% }
	.enumitem-index-card .col-value   { width : 100% }
	.enumitem-index-card .col-history { width : 100% }
}

/*////////////////////////////////////////////////////////////////*/
/* Patch list */
.patch-list {
	hyphens : auto;
}
.patch-list .element-link {
	white-space : normal;
}
li[diff-field="Parameters"] .diff-values,
li[diff-field="Tags"] .diff-values {
	display      : table;
	padding-left : var(--indent);
}
li[diff-field="Parameters"] .diff-values > *,
li[diff-field="Tags"] .diff-values > * {
	display : table-row;
}
li[diff-field="Parameters"] .diff-values > * > *,
li[diff-field="Tags"] .diff-values > * > * {
	display : table-cell;
}
li[diff-field="Parameters"] .diff-values .col-label,
li[diff-field="Tags"] .diff-values .col-label {
	text-align    : right;
	padding-right : 1ch;
}
li[diff-field="Parameters"] .diff-values .value-content {
	display   : flex;
	flex-flow : wrap row;
}
li[diff-field="Parameters"] .diff-values .parameter {
	hyphens : manual;
}

@media screen and (max-width: 600px) {
	li[diff-field="Parameters"] .diff-values {
		display      : flex;
		flex-flow    : wrap row;
		padding-left : var(--indent);
		column-gap   : var(--indent);
	}
	li[diff-field="Parameters"] .diff-values > *,
	li[diff-field="Parameters"] .diff-values > * > *,
	li[diff-field="Parameters"] .diff-values .value-content {
		display : inline;
	}
	li[diff-field="Parameters"] .diff-values .parameter {
		display : block;
		hyphens : auto;
	}
}

/*////////////////////////////////////////////////////////////////*/
/* DevHub links */
#search-results a.devhub-link {
	display : none;
}
#search-results *:hover > a.devhub-link {
	display : inline;
}
header .devhub-link {
	float          : right;
	font-size      : var(--font-size);
	font-weight    : normal;
}

/*////////////////////////////////////////////////////////////////*/
/* Publication */
.publication {
	display     : flex;
	align-items : center;
}
.publication .icon {
	--icon-scale : var(--icon-size-dynamic);
}
.publication svg {
	height : var(--font-size);
	width  : var(--font-size);
}
.publication path {
	fill : var(--text-color);
}
#main-footer .publication path {
	fill : var(--background-color);
}
#main-footer .license a[href] {
	color       : gold;
	white-space : nowrap;
}

/*////////////////////////////////////////////////////////////////*/
/* Documentation */
@import url("doc.css")
