/* Variables */
:root {
	--background-color    : #FFFFFF;
	--text-color          : #333333;
	--anchor-color        : #3E6DCC;
	--table-color         : #F4F4F4;
	--border-color        : #CCCCCC;
	--member-target-color : gold;
	--icon-size           : 16px;
	--indent              : 4ch;
	--indent-small        : 2ch;
	--icon-spacing        : 0.5ch;
}

/* Main */
body {
	font             : 10pt/1.2 "Open Sans","Trebuchet MS","DejaVu Sans",Geneva,sans-serif;
	color            : var(--text-color);
	background-color : var(--background-color);
}
a[href] {
	color : var(--anchor-color);
}
.hidden {
	display : none;
}

/* Status decorations */
.api-deprecated {
	text-decoration : line-through rgb(0, 0, 0, 0.5);
}
.api-hidden > * {
	/* TODO: Figure out how to exclude border-top from this.*/
	opacity : 0.5;
}

/* Wrapping */
.element-link,
.parameter,
.params-open,
.params-close {
	white-space : nowrap;
}
@media screen and (width < 80ch) {
	.parameter {
		display      : block;
		padding-left : var(--indent-small);
	}
}
@media screen and (width >= 80ch) {
	.member-list .col-member {
		padding-left : var(--indent-small);
		text-indent  : calc(-1*var(--indent-small));
		overflow-x   : auto;
	}
}


/* Icons */
.class-icon,
.member-icon,
.enum-icon,
.enum-item-icon {
	display        : inline-block;
	vertical-align : middle;
	height         : var(--icon-size);
	width          : var(--icon-size);
}
.class-icon {
	background-image : url('/ref/res/icon-explorer.png');
	/* background-position sets icon offset */
}
.member-icon {
	background-image : url('/ref/res/icon-objectbrowser.png');
	/* background-position sets icon offset */
}
.enum-icon {
	background-image    : url('/ref/res/icon-objectbrowser.png');
	background-position : -144px;
}
.enum-item-icon {
	background-image    : url('/ref/res/icon-objectbrowser.png');
	background-position : -160px;
}
.element-link .class-icon,
.element-link .member-icon,
.element-link .enum-icon,
.element-link .enum-item-icon {
	margin-right : var(--icon-spacing);
}

/* Spinner */
@keyframes loading-spinner {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}
.loading-spinner {
	animation         : loading-spinner 600ms infinite linear;
	transform         : rotate(0deg);
	border-radius     : 50%;
	border            : 2px solid var(--text-color);
	border-left-color : transparent;
	width             : 14px;
	height            : 14px;
	margin            : 1ex;
	display           : inline-block;
	vertical-align    : middle;
}

/* Member list */
.member-list {
	--cell-spacing   : 0.75ch;
	border-collapse  : separate;
	border-spacing   : 0;
	background-color : var(--table-color);
	border           : 1px solid var(--border-color);
	margin           : 1em;
	padding          : 0.5em;
	border-radius    : 0.5em;
}
.member-list td,
.member-list th {
	padding: 0.25em 0;
}
.member-list td {
	border-top: 1px solid var(--border-color);
}
.member-list th {
	background-color: var(--border-color);
}
.member-list td:first-child,
.member-list th:first-child {
	padding-left: var(--cell-spacing);
}
.member-list td,
.member-list th {
	padding-right: var(--cell-spacing);
}
.member-list :target {
	background-color : var(--member-target-color);
}
.member-list td {
	vertical-align : top;
}
.member-list .col-value,
.member-list .col-type,
.member-list .col-icon {
	text-align : right;
}
.member-list .col-member,
.member-list td[colspan],
.member-list th[colspan] {
	text-align : left;
}
