/* Variables */
:root {
	--icon-size           : 16px;
	--indent              : 4ch;
	--indent-small        : 2ch;
	--icon-spacing        : 0.5ch;
	--member-target-color : gold;
}

/* Status decorations */
.deprecated {
	text-decoration : line-through rgb(0, 0, 0, 0.5);
}
.hidden {
	display: none;
}

/* List alignment */
.member-list td {
	vertical-align : top;
}
.member-list .col-value,
.member-list .col-type,
.member-list .col-icon {
	text-align : right;
}
.member-list .col-name,
.member-list .col-member {
	text-align : left;
}

/* Wrapping */
.member-list .col-member {
	padding-left : var(--indent-small);
	text-indent  : calc(-1*var(--indent-small));
	overflow-x   : auto;
}
.element-link,
.parameter,
.params-open,
.params-close {
	white-space : nowrap;
}

/* Icons */
.class-icon,
.member-icon,
.enum-icon,
.enum-item-icon {
	display        : inline-block;
	vertical-align : middle;
	height         : var(--icon-size);
	width          : var(--icon-size);
}
.class-icon {
	background-image : url('/ref/res/icon-explorer.png');
	/* background-position sets icon offset */
}
.member-icon {
	background-image : url('/ref/res/icon-objectbrowser.png');
	/* background-position sets icon offset */
}
.enum-icon {
	background-image    : url('/ref/res/icon-objectbrowser.png');
	background-position : -144px;
}
.enum-item-icon {
	background-image    : url('/ref/res/icon-objectbrowser.png');
	background-position : -160px;
}
.element-link .class-icon,
.element-link .member-icon,
.element-link .enum-icon,
.element-link .enum-item-icon {
	margin-right : var(--icon-spacing);
}

/* Spinner */
@keyframes loading-spinner {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}
.loading-spinner {
	animation         : loading-spinner 600ms infinite linear;
	transform         : rotate(0deg);
	border-radius     : 50%;
	border            : 2px solid black;
	border-left-color : transparent;
	width             : 14px;
	height            : 14px;
	margin            : 1ex;
	display           : inline-block;
	vertical-align    : middle;
}

/* Member list */
.member-list {
	border-collapse : collapse;
}
.member-list .member-icon {
	margin : 0 var(--icon-spacing);
}
.member-list :target {
	background-color : var(--member-target-color);
}
