/* Light theme */
:root, :root.Light {
	--theme-sky                  : #1F3F8E;
	--theme-background           : #FFFFFF;
	--theme-text                 : #333333;
	--theme-text-decor           : rgb(51, 51, 51, 0.5);
	--theme-link                 : #3E6DCC;
	--theme-border               : #CCCCCC;
	--theme-highlight            : #FFD700;
	--theme-highlight-text       : var(--theme-text);
	--theme-selection            : #82CBFF;
	--theme-selection-text       : #000000;
	--theme-scroll-track         : var(--theme-table);
	--theme-scroll-thumb         : var(--theme-border);
	--theme-symbol               : #AAAAAA;
	--theme-symbol-hover         : #555555;
	--theme-table                : #F4F4F4;
	--theme-table-text           : var(--theme-text);
	--theme-table-header         : var(--theme-border);
	--theme-table-header-text    : var(--theme-text);
	--theme-table-border         : var(--theme-border);
	--theme-table-highlight      : var(--theme-highlight);
	--theme-table-highlight-text : var(--theme-highlight-text);
	--theme-menu                 : var(--theme-table);
	--theme-field                : var(--theme-background);
	--theme-header               : var(--theme-table);
	--theme-header-text          : var(--theme-link);
	--theme-header-hover         : #DCDCDC;
	--theme-header-text-hover    : var(--theme-link);
	--theme-footer               : var(--theme-sky);
	--theme-footer-text          : var(--theme-background);
	--theme-footer-hover         : #193272;
	--theme-footer-text-hover    : var(--theme-footer-text);
	--theme-status               : var(--theme-table);
	--theme-status-text          : var(--theme-text);
	--theme-status-border        : var(--theme-border);
	--theme-status-high          : #FF7E7E;
	--theme-status-medium        : #F2B729;
	--theme-status-low           : #77D7F6;
	--theme-patch-add            : #7EBA72;
	--theme-patch-add-text       : #143E0C;
	--theme-patch-change         : #DFCE88;
	--theme-patch-change-text    : #543B00;
	--theme-patch-remove         : #D8848C;
	--theme-patch-remove-text    : #670E17;
	--theme-radio                : var(--theme-table);
	--theme-radio-decor          : var(--theme-border);

	--syntax-background         : #FFFFFF;
	--syntax-line-highlight     : #E2E6D6;
	--syntax-line-numbers-table : #7F7F7F;
	--syntax-line-numbers       : #7F7F7F;
	--syntax-error              : #FF0000;
	--syntax-keyword            : #00007F;
	--syntax-name               : #000000;
	--syntax-literal-string     : #7F007F;
	--syntax-literal-number     : #007F7F;
	--syntax-operator           : #7F7F00;
	--syntax-operator-word      : #00007F;
	--syntax-punctuation        : #7F7F00;
	--syntax-comment            : #007F00;
	--syntax-comment-preproc    : #7F0000;
}
