/* Dark theme */
:root.Dark {
	--theme-sky                  : #010308;
	--theme-background           : #111111;
	--theme-text                 : #8F8F8F;
	--theme-text-decor           : rgb(143, 143, 143, 0.5);
	--theme-link                 : #8E9FC2;
	--theme-border               : #404040;
	--theme-highlight            : #AD7C00;
	--theme-highlight-text       : var(--theme-background);
	--theme-scroll-track         : var(--theme-table);
	--theme-scroll-thumb         : var(--theme-border);
	--theme-symbol               : var(--theme-border);
	--theme-table                : #242424;
	--theme-table-text           : var(--theme-text);
	--theme-table-header         : var(--theme-border);
	--theme-table-header-text    : var(--theme-text);
	--theme-table-border         : var(--theme-border);
	--theme-table-highlight      : var(--theme-highlight);
	--theme-table-highlight-text : var(--theme-highlight-text);
	--theme-menu                 : var(--theme-table);
	--theme-field                : var(--theme-background);
	--theme-header               : var(--theme-table);
	--theme-header-text          : var(--theme-text);
	--theme-header-hover         : var(--theme-highlight);
	--theme-header-text-hover    : var(--theme-highlight-text);
	--theme-footer               : var(--theme-header);
	--theme-footer-text          : var(--theme-header-text);
	--theme-footer-hover         : var(--theme-header-hover);
	--theme-footer-text-hover    : var(--theme-header-text-hover);
	--theme-status               : var(--theme-table);
	--theme-status-text          : var(--theme-text);
	--theme-status-border        : var(--theme-border);
	--theme-status-high          : #981212;
	--theme-status-medium        : #BB7203;
	--theme-status-low           : #066888;
	--theme-patch-add            : #20421A;
	--theme-patch-change         : #4C3200;
	--theme-patch-remove         : #731212;
	--theme-patch-text           : #CCCCCC;
	--theme-radio                : var(--theme-table);
	--theme-radio-decor          : var(--theme-border);
}
