/* Dark theme */
:root.Dark {
	--theme-sky                  : #010308;
	--theme-background           : #111111;
	--theme-text                 : #8F8F8F;
	--theme-text-decor           : rgb(143, 143, 143, 0.5);
	--theme-link                 : #8E9FC2;
	--theme-border               : #404040;
	--theme-highlight            : #FFB700;
	--theme-highlight-text       : var(--theme-background);
	--theme-selection            : #11A5D6;
	--theme-selection-text       : #000000;
	--theme-scroll-track         : var(--theme-table);
	--theme-scroll-thumb         : var(--theme-border);
	--theme-symbol               : #666666;
	--theme-symbol-hover         : var(--theme-highlight);
	--theme-table                : #242424;
	--theme-table-text           : var(--theme-text);
	--theme-table-header         : var(--theme-border);
	--theme-table-header-text    : var(--theme-text);
	--theme-table-border         : var(--theme-border);
	--theme-table-highlight      : var(--theme-highlight);
	--theme-table-highlight-text : var(--theme-highlight-text);
	--theme-menu                 : var(--theme-table);
	--theme-field                : var(--theme-background);
	--theme-header               : var(--theme-table);
	--theme-header-text          : var(--theme-text);
	--theme-header-hover         : var(--theme-highlight);
	--theme-header-text-hover    : var(--theme-highlight-text);
	--theme-footer               : var(--theme-header);
	--theme-footer-text          : var(--theme-header-text);
	--theme-footer-hover         : var(--theme-header-hover);
	--theme-footer-text-hover    : var(--theme-header-text-hover);
	--theme-status               : var(--theme-table);
	--theme-status-text          : var(--theme-text);
	--theme-status-border        : var(--theme-border);
	--theme-status-high          : #F71818;
	--theme-status-medium        : #E89619;
	--theme-status-low           : #11A5D6;
	--theme-patch-add            : #27581E;
	--theme-patch-add-text       : #BDFFB1;
	--theme-patch-change         : #825500;
	--theme-patch-change-text    : #FFE7BA;
	--theme-patch-remove         : #731212;
	--theme-patch-remove-text    : #FFB9B9;
	--theme-radio                : var(--theme-table);
	--theme-radio-decor          : var(--theme-highlight);

	--syntax-background         : #252525;
	--syntax-line-highlight     : #555555;
	--syntax-line-numbers-table : #B4B4B4;
	--syntax-line-numbers       : #B4B4B4;
	--syntax-error              : #FF0000;
	--syntax-keyword            : #F86D7C;
	--syntax-name               : #CCCCCC;
	--syntax-literal-string     : #ADF195;
	--syntax-literal-number     : #FFC600;
	--syntax-operator           : #CCCCCC;
	--syntax-operator-word      : #F86D7C;
	--syntax-punctuation        : #CCCCCC;
	--syntax-comment            : #666666;
	--syntax-comment-preproc    : #66FFCC;
}
