li[diff-field="Parameters"] .diff-values {
	display: table;
	padding-left: 4ch;
}
li[diff-field="Parameters"] .diff-values > span {
	display: table-row;
}
li[diff-field="Parameters"] .diff-values > span > span {
	display: table-cell;
	padding-right: 1ch;
}
li[diff-field="Tags"] .diff-values {
	display: table;
	padding-left: 4ch;
}
li[diff-field="Tags"] .diff-values > span {
	display: table-row;
}
li[diff-field="Tags"] .diff-values > span > span {
	display: table-cell;
	padding-right: 1ch;
}
a.permalink {
	display: none;
}
*:hover > a.permalink {
	display: inline;
}
*:hover > a.permalink:before {
	content : ' ¶ ';
}
.patch-list.hidden {
	display: none;
}
.patch-list-toggle {
	cursor: pointer;
}
