main {
	display       : grid;
	justify-items : start;
	grid-gap      : 0 var(--section-spacing);
}
main > header {
	grid-area  : header;
	align-self : baseline;
}
#update-controls {
	grid-area    : controls;
	justify-self : end;
	align-self   : baseline;
}
#update-controls label {
	display : flex;
}
main > nav  {
	grid-area : nav;
}
main > article {
	grid-area : content;
}

@media screen and (max-width: 600px) {
	main {
		grid-template-columns : auto auto;
		grid-template-areas   :
			"header  controls"
			"nav     controls"
			"content content ";
	}
}
@media screen and (min-width: 600px) {
	main {
		grid-template-columns : min-content auto auto;
		grid-template-areas   :
			"header header  controls"
			"nav    content content "
			;
	}
	main > nav {
		border-right  : 1px solid var(--border-color);
		padding-right : var(--section-spacing);
	}
}

.patch-list {
	hyphens : auto;
}
.patch-list .element-link {
	white-space : normal;
}
.anchor:target + .patch-list-toggle,
.patch-list > li:target {
	background-color : var(--member-target-color);
}
a.permalink {
	display : none;
}
*:hover > a.permalink {
	display : inline;
}
*:hover > a.permalink:before {
	content : ' ¶ ';
}

li[diff-field="Parameters"] .diff-values,
li[diff-field="Tags"] .diff-values {
	display      : table;
	padding-left : var(--indent);
}
li[diff-field="Parameters"] .diff-values > *,
li[diff-field="Tags"] .diff-values > * {
	display : table-row;
}
li[diff-field="Parameters"] .diff-values > * > *,
li[diff-field="Tags"] .diff-values > * > * {
	display : table-cell;
}
li[diff-field="Parameters"] .diff-values .col-label,
li[diff-field="Tags"] .diff-values .col-label {
	text-align    : right;
	padding-right : 1ch;
}
li[diff-field="Parameters"] .diff-values .value-content {
	display   : flex;
	flex-flow : wrap row;
}
li[diff-field="Parameters"] .diff-values .parameter {
	hyphens : manual;
}

@media screen and (max-width: 600px) {
	a.permalink > span {
		display : none;
	}
	li[diff-field="Parameters"] .diff-values {
		display      : flex;
		flex-flow    : wrap row;
		padding-left : var(--indent);
		column-gap   : var(--indent);
	}
	li[diff-field="Parameters"] .diff-values > *,
	li[diff-field="Parameters"] .diff-values > * > *,
	li[diff-field="Parameters"] .diff-values .value-content {
		display : inline;
	}
	li[diff-field="Parameters"] .diff-values .parameter {
		display : block;
		hyphens : auto;
	}
}
