<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>{{.Name}}</title>
	<link href="{{link "res" "main.css"}}" rel="stylesheet" type="text/css" />
	<link href="{{link "res" "class.css"}}" rel="stylesheet" type="text/css" />
	<script src="{{link "res" "class.js"}}" charset="utf-8"></script>
</head>
<body>
	<header>
		<h1>{{icon .Entity.Element}}{{.Name}}</h1>
	</header>
	<nav>
		<a href="{{link "index"}}">Main page</a>
	</nav>
	<main>
		<aside id="tree-nav">
		{{- if .Superclasses }}
			<section id="superclasses">
				<header>
					<h2>Inherits</h2>
				</header>
				<ul>
				{{- range .Superclasses }}
					<li><a class="element-link" href="{{link "class" .}}">{{icon "class" .}}{{.}}</a></li>
				{{- end }}
				</ul>
			</section>
		{{- end }}
		{{- if .Subclasses }}
			<section id="subclasses">
				<header>
					<h2>Inherited by</h2>
				</header>
				<ul>
				{{- range .Subclasses }}
					<li><a class="element-link" href="{{link "class" .}}">{{icon "class" .}}{{.}}</a></li>
				{{- end }}
				</ul>
			</section>
		{{- end }}
		</aside>
		<section id="members">
			<h2>Members</h2>
		{{- if .Members }}
			<ul class="class-member-list">
			{{- $class := .Name -}}
			{{- range $i, $section := .Members }}
			{{- if (len $section.Members) -}}
			{{- if $i }}
				<li class="class-base-members"><a class="member-count">{{len $section.Members}} member{{if ne (len $section.Members) 1}}s{{end}}</a> inherited from <a class="element-link" href="{{link "class" $section.Class}}#members">{{icon "class" $section.Class}}{{$section.Class}}</a></li>
			{{- else }}
				<li class="class-base-members"><a class="member-count">{{len $section.Members}} member{{if ne (len $section.Members) 1}}s{{end}}</a> defined by {{$section.Class}}
				{{- with $section.Members}}
					<table class="member-list">
						<tr>
							<th class="col-type">Type</th>
							<th class="col-icon"></th>
							<th class="col-member">Member</th>
						</tr>
					{{- range . }}
						<tr id="member-{{.GetName}}" class="row-{{.GetMemberType}}">
						{{- if eq .GetMemberType "Property" }}
							<td class="col-type col-property">{{template "value" .ValueType}}</td>
							<td class="col-icon col-property">{{icon .}}</td>
							<td class="col-member col-property {{if .GetTag "Deprecated"}}api-deprecated{{end}}"><a href="{{link "member" $class .Name}}">{{.Name}}</a></td>
						{{- else if eq .GetMemberType "Function" }}
							<td class="col-type col-function">{{template "value" .ReturnType}}</td>
							<td class="col-icon col-function">{{icon .}}</td>
							<td class="col-member col-function {{if .GetTag "Deprecated"}}api-deprecated{{end}}"><a href="{{link "member" $class .Name}}">{{.Name}}</a>{{template "value" .Parameters}}</td>
						{{- else if eq .GetMemberType "Event" }}
							<td class="col-type col-event"></td>
							<td class="col-icon col-event">{{icon .}}</td>
							<td class="col-member col-event {{if .GetTag "Deprecated"}}api-deprecated{{end}}"><a href="{{link "member" $class .Name}}">{{.Name}}</a>{{template "value" .Parameters}}</td>
						{{- else if eq .GetMemberType "Callback" }}
							<td class="col-type col-callback">{{template "value" .ReturnType}}</td>
							<td class="col-icon col-callback">{{icon .}}</td>
							<td class="col-member col-callback {{if .GetTag "Deprecated"}}api-deprecated{{end}}"><a href="{{link "member" $class .Name}}">{{.Name}}</a>{{template "value" .Parameters}}</td>
						{{- end }}
						</tr>
					{{- end }}
					</table>
				{{- end }}
				</li>
			{{- end -}}
			{{- end -}}
			{{- end }}
			</ul>
		{{- end }}
		</section>
		{{- if .Enums }}
		<section id="enums">
			<h2>Enums</h2>
			<ul>
			{{- range .Enums }}
				<li><a class="element-link" href="{{link "enum" .}}">{{icon "enum"}}{{.}}</a></li>
			{{- end }}
			</ul>
		</section>
		{{- end }}
	</main>
</body>
</html>
