<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Roblox Lua API Reference</title>
	<link href="{{link "res" "root.css" ""}}" rel="stylesheet" type="text/css" />
	<script src="{{link "res" "root.js" ""}}" charset="utf-8"></script>
</head>
<body>
	<header>
		<h1>Roblox Lua API Reference</h1>
	</header>
	<p>This site is under construction.</p>
	<nav>
		<ul>
			<li><a href="{{link "updates" "" ""}}#{{.}}">Latest API updates</a></li>
		</ul>
	</nav>
</body>
</html>
