<span class="params-open"> (</span>
{{- range $i, $p := . -}}
{{- if $i -}}<span class="params-sep">, </span></span>{{- end -}}
<span class="parameter">{{template "value" $p.Type}} {{$p.Name}}{{if $p.HasDefault}} = {{$p.Default}}{{end}}
{{- end -}}
{{- if . }}</span>{{ end -}}
<span class="params-close">)</span>
{{- /**/ -}}
