<span class="params-open"> (</span>
{{- range $i, $p := $ -}}
	<span class="parameter">{{template "value" $p.Type}} {{$p.Name}}{{if $p.HasDefault}} = {{$p.Default}}{{end}}
	{{- if ne $i (last $) -}}
		<span class="params-sep">, </span>
	{{- end -}}
	</span>
{{- end -}}
<span class="params-close">)</span>
{{- /**/ -}}
