{{- if istype . "rbxapijson.Type" -}}
<a{{if .Category}} title="Category: {{.Category}}"{{end}} href="{{link "type" .Category .Name}}">{{.Name}}</a>
{{- else if istype . "rbxapijson.Parameters" -}}
	{{template "parameters" .List}}
{{- else if istype . "[]rbxapijson.Parameter" -}}
	{{template "parameters" .}}
{{- else if istype . "string" -}}
	{{- if . -}}
	{{- tostring . -}}
	{{- else -}}
	<span class="api-empty-string"></span>
	{{- end -}}
{{- else -}}
	{{- tostring . -}}
{{- end -}}
